In [2]:
%matplotlib inline
import pandas as pd

In [3]:
from IPython.core.display import HTML
css = open('style-table.css').read() + open('style-notebook.css').read()
HTML('<style>{}</style>'.format(css))

In [4]:
titles = pd.DataFrame.from_csv('data/titles.csv', index_col=None)
titles.head()

                     title  year
0           The Rising Son  1990
1  The Thousand Plane Raid  1969
2         Crucea de piatra  1993
3                  Country  2000
4               Gaiking II  2011

In [5]:
cast = pd.DataFrame.from_csv('data/cast.csv', index_col=None)
cast.head()

                  title  year      name   type                character     n
0        Closet Monster  2015  Buffy #1  actor                  Buffy 4  31.0
1       Suuri illusioni  1985    Homo $  actor                   Guests  22.0
2   Battle of the Sexes  2017   $hutter  actor          Bobby Riggs Fan  10.0
3  Secret in Their Eyes  2015   $hutter  actor          2002 Dodger Fan   NaN
4            Steve Jobs  2015   $hutter  actor  1988 Opera House Patron   NaN

In [6]:
# How many movies are listed in the titles dataframe?

len(titles)

232700

In [7]:
# What are the earliest two films listed in the titles dataframe?

titles.sort('year').head(2)

/Users/JF/anaconda/lib/python3.5/site-packages/ipykernel/__main__.py:3: FutureWarning: sort(columns=....) is deprecated, use sort_values(by=.....)
  app.launch_new_instance()

                     title  year
178057          Miss Jerry  1894
215604  The Startled Lover  1898

In [8]:
# How many movies have the title "Hamlet"?

len(titles[titles.title == 'Hamlet'])

18

In [9]:
# How many movies are titled "North by Northwest"?

len(titles[titles.title == 'North by Northwest'])

1

In [10]:
# When was the first movie titled "Hamlet" made?

titles[titles.title == 'Hamlet'].sort('year').head(1)

/Users/JF/anaconda/lib/python3.5/site-packages/ipykernel/__main__.py:3: FutureWarning: sort(columns=....) is deprecated, use sort_values(by=.....)
  app.launch_new_instance()

        title  year
46788  Hamlet  1910

In [11]:
# List all of the "Treasure Island" movies from earliest to most recent.

titles[titles.title == 'Treasure Island'].sort('year')

/Users/JF/anaconda/lib/python3.5/site-packages/ipykernel/__main__.py:3: FutureWarning: sort(columns=....) is deprecated, use sort_values(by=.....)
  app.launch_new_instance()

                  title  year
206348  Treasure Island  1918
51360   Treasure Island  1920
191353  Treasure Island  1934
97086   Treasure Island  1950
89662   Treasure Island  1972
111525  Treasure Island  1973
205719  Treasure Island  1985
179655  Treasure Island  1999

In [12]:
# How many movies were made in the year 1950?

len(titles[titles.year == 1950])

1099

In [13]:
# How many movies were made in the year 1960?

len(titles[titles.year == 1960])

1502

In [14]:
# How many movies were made from 1950 through 1959?

t = titles
len(t[(t.year >= 1950) & (t.year <= 1959)])

12712

In [15]:
len(t[t.year // 10 == 195])

12712

In [16]:
# In what years has a movie titled "Batman" been released?

t = titles
t[t.title == 'Batman']

        title  year
56079  Batman  1989
74710  Batman  1943

In [17]:
# How many roles were there in the movie "Inception"?

c = cast
len(c[c.title == 'Inception'])

77

In [18]:
# How many roles in the movie "Inception" are NOT ranked by an "n" value?

c = cast
c = c[c.title == 'Inception']
c = c[c.n.isnull()]
len(c)

26

In [19]:
# But how many roles in the movie "Inception" did receive an "n" value?

c = cast
c = c[c.title == 'Inception']
c = c[c.n.notnull()]
len(c)

51

In [20]:
# Display the cast of "North by Northwest" in their correct "n"-value order,
# ignoring roles that did not earn a numeric "n" value.

c = cast
c = c[c.title == 'North by Northwest']
c = c[c.n.notnull()]
c = c.sort('n')
c

/Users/JF/anaconda/lib/python3.5/site-packages/ipykernel/__main__.py:7: FutureWarning: sort(columns=....) is deprecated, use sort_values(by=.....)

,title,year,name,type,character,n
846523,North by Northwest,1959,Cary Grant,actor,Roger O. Thornhill,1.0
3386952,North by Northwest,1959,Eva Marie Saint,actress,Eve Kendall,2.0
1415054,North by Northwest,1959,James Mason,actor,Phillip Vandamm,3.0
3046847,North by Northwest,1959,Jessie Royce Landis,actress,Clara Thornhill,4.0
346243,North by Northwest,1959,Leo G. Carroll,actor,The Professor,5.0
2944914,North by Northwest,1959,Josephine Hutchinson,actress,Mrs. Townsend,6.0
1646433,North by Northwest,1959,Philip Ober,actor,Lester Townsend,7.0
1238263,North by Northwest,1959,Martin Landau,actor,Leonard,8.0
2375391,North by Northwest,1959,Adam Williams,actor,Valerian,9.0
1759189,North by Northwest,1959,Edward Platt,actor,Victor Larrabee,10.0
646815,North by Northwest,1959,Robert Ellenstein,actor,Licht,11.0
2228446,North by Northwest,1959,Les Tremayne,actor,Auctioneer,12.0
451247,North by Northwest,1959,Philip Coolidge,actor,Dr. Cross,13.0
1465008,North by Northwest,1959,Patrick McVey,actor,Sergeant Flamm,14.0
200000,North by Northwest,1959,Edward Binns,actor,Captain Junket,15.0
1344586,North by Northwest,1959,Ken Lynch,actor,Charley - Chicago Policeman,16.0

In [21]:
# Display the entire cast, in "n"-order, of the 1972 film "Sleuth".

c = cast
c = c[c.title == 'Sleuth']
c = c[c.year == 1972]
c = c.sort('n')
c

/Users/JF/anaconda/lib/python3.5/site-packages/ipykernel/__main__.py:6: FutureWarning: sort(columns=....) is deprecated, use sort_values(by=.....)

,title,year,name,type,character,n
1656295,Sleuth,1972,Laurence Olivier,actor,Andrew Wyke,1.0
317045,Sleuth,1972,Michael Caine,actor,Milo Tindle,2.0
363033,Sleuth,1972,Alec Cawthorne,actor,Inspector Doppler,3.0
1423093,Sleuth,1972,John (II) Matthews,actor,Detective Sergeant Tarrant,4.0
2638782,Sleuth,1972,Eve (III) Channing,actress,Marguerite Wyke,5.0
1406856,Sleuth,1972,Teddy Martin,actor,Police Constable Higgs,6.0

In [22]:
# Now display the entire cast, in "n"-order, of the 2007 version of "Sleuth".

c = cast
c = c[c.title == 'Sleuth']
c = c[c.year == 2007]
c = c.sort('n')
c

/Users/JF/anaconda/lib/python3.5/site-packages/ipykernel/__main__.py:6: FutureWarning: sort(columns=....) is deprecated, use sort_values(by=.....)

          title  year                 name     type          character    n
317046   Sleuth  2007        Michael Caine    actor             Andrew  1.0
1256117  Sleuth  2007             Jude Law    actor               Milo  2.0
1753897  Sleuth  2007        Harold Pinter    actor        Man on T.V.  3.0
252203   Sleuth  2007      Kenneth Branagh    actor  Other Man on T.V.  NaN
363034   Sleuth  2007  Alec (II) Cawthorne    actor  Inspector Doppler  NaN
2638781  Sleuth  2007    Eve (II) Channing  actress    Marguerite Wyke  NaN
3247874  Sleuth  2007    Carmel O'Sullivan  actress             Maggie  NaN

In [23]:
# How many roles were credited in the silent 1921 version of Hamlet?

c = cast
c = c[(c.title == 'Hamlet') & (c.year == 1921)]
len(c)

9

In [26]:
# How many roles were credited in Branaghâ€™s 1996 Hamlet?

c = cast
c = c[(c.title == 'Hamlet') & (c.year == 1996)].sort_values('n')
len(c)

54

In [27]:
# How many "Hamlet" roles have been listed in all film credits through history?

c = cast
c = c[c.character == 'Hamlet']
len(c)

92

In [28]:
# How many people have played an "Ophelia"?

c = cast
c = c[c.character == 'Ophelia']
len(c)

112

In [29]:
# How many people have played a role called "The Dude"?

c = cast
c = c[c.character == 'The Dude']
len(c)

18

In [30]:
# How many people have played a role called "The Stranger"?

c = cast
c = c[c.character == 'The Stranger']
len(c)

212

In [31]:
# How many roles has Sidney Poitier played throughout his career?

c = cast
c = c[c.name == 'Sidney Poitier']
len(c)

43

In [29]:
# How many roles has Judi Dench played?

c = cast
c = c[c.name == 'Judi Dench']
len(c)

51

In [30]:
# List the supporting roles (having n=2) played by Cary Grant in the 1940s,
# in order by year.

c = cast
c = c[c.name == 'Cary Grant']
c = c[c.year // 10 == 194]
c = c[c.n == 2]
c = c.sort('year')
c

                   title  year        name   type    character  n
757362  My Favorite Wife  1940  Cary Grant  actor         Nick  2
757372    Penny Serenade  1941  Cary Grant  actor  Roger Adams  2

In [31]:
# List the leading roles that Cary Grant played in the 1940s in order by year.

c = cast
c = c[c.name == 'Cary Grant']
c = c[c.year // 10 == 194]
c = c[c.n == 1 ]
c = c.sort('year')
c

,title,year,name,type,character,n
757387,The Howards of Virginia,1940,Cary Grant,actor,Matt Howard,1
757344,His Girl Friday,1940,Cary Grant,actor,Walter Burns,1
757389,The Philadelphia Story,1940,Cary Grant,actor,C.K. Dexter Haven,1
757377,Suspicion,1941,Cary Grant,actor,Johnnie,1
757391,The Talk of the Town,1942,Cary Grant,actor,Leopold Dilg,1
757368,Once Upon a Honeymoon,1942,Cary Grant,actor,Patrick 'Pat' O'Toole,1
757335,Destination Tokyo,1943,Cary Grant,actor,Capt. Cassidy,1
757360,Mr. Lucky,1943,Cary Grant,actor,Joe Adams,1
757361,Mr. Lucky,1943,Cary Grant,actor,Joe Bascopolous,1
757369,Once Upon a Time,1944,Cary Grant,actor,Jerry Flynn,1
757327,Arsenic and Old Lace,1944,Cary Grant,actor,Mortimer Brewster,1
757364,None But the Lonely Heart,1944,Cary Grant,actor,Ernie Mott,1
757363,Night and Day,1946,Cary Grant,actor,Cole Porter,1
757366,Notorious,1946,Cary Grant,actor,Devlin,1
757383,The Bachelor and the Bobby-Soxer,1947,Cary Grant,actor,Dick,1
757384,The Bishop's Wife,1947,Cary Grant,actor,Dudley,1
757359,Mr. Blandings Builds His Dream House,1948,Cary Grant,actor,Jim Blandings,1
757339,Every Girl Should Be Married,1948,Cary Grant,actor,Dr. Madison Brown,1
757348,I Was a Male War Bride,1949,Cary Grant,actor,Capt. Henri Rochard,1

In [32]:
# How many roles were available for actors in the 1950s?

c = cast
c = c[c.year // 10 == 195]
c = c[c.type == 'actor']
len(c)

155223

In [33]:
# How many roles were avilable for actresses in the 1950s?

c = cast
c = c[c.year // 10 == 195]
c = c[c.type == 'actress']
len(c)

53430

In [33]:
# How many leading roles (n=1) were available
# from the beginning of film history through 1980?

c = cast
c = c[c.year <= 1980]
c = c[c.n == 1]
len(c)

64126

In [34]:
# How many non-leading roles were available through
# from the beginning of film history through 1980?

c = cast
c = c[c.year <= 1980]
c = c[c.n != 1]
len(c)

1098143

In [36]:
# How many roles through 1980 were minor enough
# that they did not warrant a numeric "n" rank?

c = cast
c = c[c.year <= 1980]
c = c[c.n.isnull()]
len(c)

409437